.img-fluid{max-width:100%;height:auto}

.col-md-6{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}

.order-md-12{-webkit-box-ordinal-group:13;-ms-flex-order:12;order:12}

.order-1{-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1}