<div id="Welcome">
  <!---Start navigation Bar -->
  <nav class="navbar navbar-expand-lg navbar fixed-top  navbar-light bg-light">
   <a class="navbar-brand" href="#Welcome">
      <img src="assets/images/MDE.ico" width="50" height="50" class="d-inline-block" alt=""> Maa Dhamurai Enterprises
   </a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
   </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#Welcome">Welcome</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="#AboutUs">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Comapnies">Comapnies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Careers">Careers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#ContactUs">Contact Us</a>
        </li>
        <li class="nav-item">
          <a href="index.html" class="language" rel="en-En"><img src="assets/images/india-flag-button-square-icon-256.png" class="flag" alt="English" /></a>
        </li>
      </ul>
  </div>
</nav>
<!--- End Navigation Bar -->
<!--- Start Carousel -->

<ngb-carousel >
  <ng-template ngbSlide>
      <img class="d-block w-100 img-fluid img-slider" src="assets/images/Truck_2.jpg" alt="First slide">
    <div class="carousel-caption">
      <h2>Welcome to Maa Dhamurai Enterprises</h2>
      <p>Our reputation is as solid as concrete</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
      <img class="d-block w-100 img-fluid img-slider" src="assets/images/road_1.jpg" alt="Second slide">
    <div class="carousel-caption">
              <h2>Welcome to B K Fabricators</h2>
            <p>Master of Quality construction</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
      <img class="d-block w-100 img-fluid img-slider" src="assets/images/slider3.jpg" alt="Third slide">
    <div class="carousel-caption">
      <h3>M/s Rakesh Nayak</h3>
      <p>Masters of Consistency and Quality</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
      <img class="d-block w-100 img-fluid img-slider" src="../assets/images/TRUCK_1.jpg" alt="Third slide">
    <div class="carousel-caption">
      <p>From the ground up!</p>
    </div>
  </ng-template>
</ngb-carousel>
<!--- End of Carousel -->
<!--- start of AboutUs-->
<div class="container">
 <app-aboutus> </app-aboutus>
  <!--- End of AboutUs -->
  
  <!--- Start of Services-->
  <app-services>  </app-services> 
  <!--- End of Services -->

<!--- Start of Comapnies-->
<app-companies></app-companies>
<!--- End of Reserve -->

<!--- Start of Our Careers -->
<app-careers></app-careers>
<!--- End of Our Careers -->

<!--- Start of Our Conatct Us -->
<app-contactus></app-contactus>
  <!--- End of Our Contact Us -->
<div class="row footer bg-light">
  <div class="col">
    <p class="text-center">Follow us: <a class="social-icon" href="https://www.facebook.com/rubiktechnologiesShpk/"><i class="fab fa-facebook"></i></a> <a class="social-icon" href="https://www.instagram.com/rubiktechnologies/"><i class="fab fa-instagram"></i></a></p>
  </div>
  <div class="col">
    <p class="text-center">Copyright &copy; 2018</p>
  </div>
  <div class="col">
    <p class="text-center">Powered by: <a href="https://rubik-technologies.com/">Rajesh Nayak</a></p>
  </div>
</div>
</div>
<footer class="container">
<div class= "row only-mobile">
  <div class="col-6">
    <a class="btn btn-primary btn-block text-center" href="tel:+355698889452"><i class="fa fa-phone" aria-hidden="true"></i> Call</a>
  </div>
  <div class="col-6">
    <a class="btn btn-success btn-block text-center" href="https://api.whatsapp.com/send?phone=+355698889452"><i class="fab fa-whatsapp" aria-hidden="true"></i> Whatsapp</a>
  </div>
</div>