
<!--- Start of Our Contact Us -->
<div class="row" id="ContactUs">
    <div class="col navMenu">
      <h2 class="text-center">~ Contact Us ~</h2>
    </div>
  </div>
  <div class="row">
    <!-- <div id="map" class="col-md-9 map"></div> -->
    <div class="col-md-3">
      <h3>Address:</h3>
      <p>Plot no.: 146/1222</p>
      <p>At: Balijodi</p>
      <p>Po: Sonaparbat</p>
      <p> Rourkela</p>
      <p>Odisha 769016</p>
      <p>India</p>
    </div>

    <div class="col-md-3">
       
        <h3>Email:</h3>
        <p>maadhamuraienterprises@gmail.com</p>
            <p>bkfabricatorss@gmail.com</p>
                <p>msrakeshnayak@gmail.com</p>
      </div>  </div>
  <!--- End of Our Contact Us -->